<h1>New Ideabase</h1>

<form action="/create_ideabase">
  <div>
    <label for="idea">Idea</label><br />
    <input id="idea" name="idea" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

