<h1>Ideabase #<%= @ideabase.id %></h1>

<div>
  <strong>Idea</strong>:<br />
  <p><%= @ideabase.idea %></p>
</div>
<a href="/ideabases/<%= @ideabase.id %>/edit">Edit</a> |
<a href="/ideabases/<%= @ideabase.id %>/destroy">Destroy</a>
